/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


#define NUM_L 1
#define SYM_L 2
#define NAV_L 3

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick_tap_ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional_layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <

&kp Q      &kp W      &kp E       &kp R        &kp T          &kp Y            &kp U          &kp I       &kp O      &kp P
&hm LGUI A &hm LALT S &hm LCTRL D &hm LSHFT F  &kp G          &kp H            &hm RSHFT J    &hm RCTRL K &hm LALT L &hm LGUI COLON
&kp Z      &kp X      &kp C       &kp V        &kp B          &kp N            &kp M          &kp COMMA   &kp DOT    &kp ESC
                                  &kp BSPC     &lt NUM_L TAB  &lt SYM_L ENTER  &kp SPACE

            >;
        };

        num_layer {
            bindings = <

&kp N1       &kp N2       &kp N3        &kp PLUS         &kp MINUS  &none      &none      &none     &none     &none
&hm LGUI N4  &hm LALT N5  &hm LCTRL N6  &hm LSHFT EQUAL  &kp PRCNT  &kp RSHFT  &kp RCTRL  &kp LALT  &kp LGUI  &none
&kp N7       &kp N8       &kp N9        &kp N0           &none      &none      &none      &kp LT    &kp GT    &none
                                        &trans           &trans     &trans     &trans

            >;
        };

        sym_layer {
            bindings = <

&kp GRAVE    &kp DQT      &kp LBRC        &kp LPAR        &kp LBKT  &kp EXCL  &kp STAR        &kp AMPS        &none           &kp NUHS
&hm LGUI AT  &hm LALT QT  &hm LCTRL RBRC  &hm LSHFT RPAR  &kp RBKT  &kp HASH  &hm RSHFT CARET &hm RCTRL DLLR  &hm LALT UNDER  &hm LGUI SEMI
&none        &none        &none           &kp TILDE       &none     &kp BSLH  &kp PIPE        &kp FSLH        &kp QMARK       &none
                                          &trans          &trans    &trans    &trans

            >;
        };

        nav_layer {
            bindings = <

&kp F1       &kp F2       &kp F3        &kp F12        &none    &kp INS   &kp PG_DN     &kp PG_UP       &kp DEL         &kp PSCRN
&hm LGUI F4  &hm LALT F5  &hm LCTRL F6  &hm LSHFT F10  &kp F11  &kp LEFT  &hm RSHFT UP  &hm RCTRL DOWN  &hm LALT RIGHT  &kp SLCK
&kp F7       &kp F8       &kp F9        &none          &none    &none     &kp HOME      &kp END         &kp SYSREQ      &kp PAUSE_BREAK
                                        &trans         &trans   &trans    &trans

            >;
        };
    };
};
