/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


#define NUM_L 1
#define SYM_L 2
#define NAV_L 3
#define BLE_L 4
#define LEFT_ONLY_L 5
#define LEFT_ONLY_2_L 6
#define GAMING_L 7

&lt { quick_tap_ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods_right  {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            quick-tap-ms = <200>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        nav_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_caps {
            layers = <0>;
            timeout-ms = <50>;
            key-positions = <20 29>;
            bindings = <&kp CAPS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <

&kp Q          &kp W       &kp E        &kp R        &kp T          &kp Y            &kp U        &kp I        &kp O       &kp P
&hm LGUI A     &hm LALT S  &hm LCTRL D  &hm LSHFT F  &kp G          &kp H            &hm RSHFT J  &hm RCTRL K  &hm LALT L  &hm LGUI COLON
&kp Z  &kp X       &kp C        &kp V        &kp B          &kp N            &kp M        &kp COMMA    &kp DOT     &kp ESC
                                        &kp SPACE    &lt NUM_L TAB  &lt SYM_L ENTER  &kp BSPC

            >;
        };

        num_layer {
            bindings = <

&kp N1       &kp N2       &kp N3        &kp PLUS         &kp MINUS  &none     &none      &none      &none     &none
&hm LGUI N4  &hm LALT N5  &hm LCTRL N6  &hm LSHFT EQUAL  &kp PRCNT  &none     &kp RSHFT  &kp RCTRL  &kp LALT  &kp LGUI
&kp N7       &kp N8       &kp N9        &kp N0           &none      &none     &none      &kp LT     &kp GT    &none
                                        &trans           &trans     &trans    &trans

            >;
        };

        sym_layer {
            bindings = <

&kp GRAVE    &kp DQT       &kp LBRC        &kp LPAR        &kp LBKT  &kp EXCL  &kp STAR         &kp AMPS        &none           &kp NUHS
&hm LGUI AT  &hm LALT SQT  &hm LCTRL RBRC  &hm LSHFT RPAR  &kp RBKT  &kp HASH  &hm RSHFT CARET  &hm RCTRL DLLR  &hm LALT UNDER  &hm LGUI SEMI
&none        &none         &none           &kp TILDE       &none     &kp BSLH  &kp PIPE         &kp FSLH        &kp QMARK       &none
                                           &trans          &trans    &trans    &trans

            >;
        };

        nav_layer {
            bindings = <

&kp F1       &kp F2       &kp F3        &kp F12        &none             &kp INS    &kp PG_DN        &kp PG_UP      &kp DEL          &kp PSCRN
&hm LGUI F4  &hm LALT F5  &hm LCTRL F6  &hm LSHFT F10  &kp F11           &kp LEFT   &hm RSHFT DOWN   &hm RCTRL UP   &hm LALT RIGHT   &hm LGUI SLCK
&kp F7       &kp F8       &kp F9        &tog GAMING_L  &tog LEFT_ONLY_L  &mo BLE_L  &kp HOME         &kp END        &kp SYSREQ       &kp PAUSE_BREAK
                                        &none          &trans            &trans     &none

            >;
        };

        ble_layer {
            bindings = <

&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &none  &none     &bt BT_CLR  &bt BT_CLR_ALL  &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  
&bt BT_SEL 3  &bt BT_SEL 4  &none         &none  &none     &none       &none           &bt BT_DISC 3  &bt BT_DISC 4  &none
&none         &none         &none         &none  &trans    &none       &none           &none          &none          &none
                                          &none  &trans    &trans      &none
            >;
        };

        left_only {
            bindings = <

&kp LCTRL   &kp W  &kp E  &kp R      &kp T              &none             &none  &none  &none  &none
&kp LSHIFT  &kp S  &kp D  &kp F      &kp G              &none             &none  &none  &none  &none
&kp LALT    &kp X  &kp C  &kp V      &kp B              &none             &none  &none  &none  &none
                          &kp SPACE  &sl LEFT_ONLY_2_L  &tog LEFT_ONLY_L  &none
            >;
        };

        left_only_2 {
            bindings = <

&kp LCTRL   &kp Q  &kp Y  &kp U      &kp I    &none  &none  &none  &none  &none
&kp LSHIFT  &kp A  &kp H  &kp J      &kp K    &none  &none  &none  &none  &none
&kp LALT    &kp Z  &kp N  &kp M      &kp DEL  &none  &none  &none  &none  &none
                          &kp SPACE  &kp TAB  &none  &none
            >;
        };

        gaming {
            bindings = <
&kp LCTRL   &kp Q  &kp W  &kp E      &kp R          &kp Y          &kp U  &kp I      &kp O    &kp P
&kp LSHIFT  &kp A  &kp S  &kp D      &kp F          &kp H          &kp J  &kp K      &kp L    &kp COLON
&kp LALT    &kp Z  &kp X  &kp C      &kp V          &kp N          &kp M  &kp COMMA  &kp DOT  &kp ESC
                          &kp SPACE  &lt NUM_L TAB  &tog GAMING_L  &kp BSPC

            >;
        };
    };
};
